@charset "utf-8";

body {
  font-family: -apple-system, "Trebuchet MS", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴシック ProN", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "Meiryo UI", "メイリオ", "Meiryo", "Helvetica Neue", "Helvetica", "Open Sans", "Arial", "Verdana", BlinkMacSystemFont, Roboto, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

body, h1, h2, h3, ul, li, p, dl, dt, dd {
  margin:0;
  padding:0;
}

li {
  list-style:none;
}

a, a:hover {
  text-decoration:none;
}

header nav {
  padding:40px 0 !important;
}

.btn-list li a {
  display:inline-block;
  height:34px;
  border-radius:17px;
}
.btn-list .sns a {
  width:34px;
  padding:6px 11px;
}

#main-visual {
  margin-top:125px;
}
#main-visual h2 {
  padding-top:90px;
  line-height:2em;
}
#main-visual h2 span {
  font-size:80%;
}

#top-contents p {
  font-size:20px;
  line-height:3em;
}
